#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(analogClockTemplate.png) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    height: 20%;
    width: 3%;
    top: 30%;
    left: 48.3%; 
}
#minute{
    height: 30%;
    width: 2%;
    top: 20%;
    left: 48.7%;
}
#second{
    height: 38%;
    width: 1%;
    top: 12%;
    left: 49.3%;
}